/*reset*/
h1, p, h2, section, figure,
body, html, button {
  padding: 0;
  margin: 0;
  border: 0;

  text-decoration: none;
  background: none;


  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

/* utils */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* styles */

body {
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 1px;
  color: #00ff00;
  background: #3a3a3a;
}

.game-container {
  position: relative;
  width: 1000px;
}

figure.grid {
  float: left;
  height: 500px;
  width: 500px;
  background: #000;
  border-radius: 10px;
}

section.cell {
  float: left;
  height: 20px;
  width: 20px;
}

section.snake {
  background: #00ff00;
  /*box-shadow: inset 0px 0px 5px 2px #5e5e5e;*/
  border-radius: 5px;
}

section.apple {
  background: red;
  border-radius: 100%;
}

div.points {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  left: 450px;
  top: 20px;
}

.game-over {
  width: 350px;
  display: none;
  font-size: 36px;
  position: absolute;
  top: 90px;
  left: 490px;
  z-index: 1;
  transition: left .75s;
}

.retry-button {
  display: none;
  width: 200px;
  font-size: 16px;
  position: absolute;
  top: 160px;
  left: 520px;
  z-index: 1;
  outline: none;

  transition: left .75s;
}

.retry-button:hover {
  cursor: pointer;
  color: blue;
}

.ready:hover {
  cursor: pointer;
  color: red;
}

.ready {
  width: 200px;
  font-size: 36px;
  position: absolute;
  top: 170px;
  left: 555px;
  z-index: 1;
  transition: left .75s;
}

.difficulty {
  width: 450px;
  font-size: 14px;
  position: absolute;
  top: 210px;
  left: 380px;
  z-index: 1;
  transition: left .75s;
}

.difficulty > li {
  float: left;
  position: relative;
  padding: 10px;
  transition: top 1s;
  top: 0;
}

.difficulty > li:hover {
  cursor: pointer;
  top: -10px;
  color: red;
}

.instructions-container {
  float: left;
  width: 320px;
  margin-right: 50px;
  padding: 20px;
}

.instructions-container > h2 {
  font-size: 24px;
}

.instructions-container > ol > li {
  padding: 5px;
}

/* special */


.selected {
  top: -10px;
  color: red;
}

.standby {
  left: 1200px;
}

.game-over-in-place {
  left: 490px;
}

.retry-button-in-place {
  left: 555px;
}

.leave {
  left: -400px;
}

.active {
  display: block;
}

.inactive {
  display: none;
}
